body {
	font-family: 'Poppins', sans-serif;
	font-size: 1.2rem;
	background-color: #5156a1;
	/* background-image: url('./image/background.png'); */
	background-size: cover;
	background-position: center;
	min-height: 100vh;
}
h1 {
	font-size: 2.6rem;
}
h2 {
	font-size: 2.2rem;
}
h3 {
	font-size: 1.8rem;
}